<ul>
            <li>Name :<%= bbs[0].Name %></li>
            <li>Email:<%= bbs[0].Email %></li>
            <li>Contact :<%= bbs[0].Number %></li>
            <li>Course :<%= bbs[0].Course %></li>
            <li>Country :<%= bbs[0].Country %></li>
            <li>Date of Birth<%= bbs[0].Date %></li>
</ul>